@import "null";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

//----------------------------------------

* {
  font-family: "Bauhaus";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  z-index: 15;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    font-size: 5rem;
  }
}

#edit__overlay {
  z-index: 20;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #edit__block {
    width: 300px;
    height: auto;
    border-radius: 15px;
    background: #d7d6d6;
    padding: 15px;
    z-index: 22;
    h3 {
      text-align: center;
      font-size: 2rem;
    }

    textarea {
      width: 100%;
      max-width: 100%;
      max-height: 200px;
      margin: 0 auto;
      padding: 5px;
      border-radius: 10px;
      background: #d7d6d6;
      box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;
      font-size: 1.5rem;
      margin: 10px 0;
    }

    button {
      font-size: 1.5rem;
      float: right;
      margin-right: 1rem;
      border: 2px solid transparent;
      padding: 5px 10px;
      background-color: #d7d6d6;
      box-shadow: 4px 4px 10px #8d8d8d, -4px -4px 10px #ffffff;

      &.pressed {
        box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;
        border: 2px solid #cdcdcd;

        color: blue;
      }
    }
  }

  #edit__blackplate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.321);
  }
}

#main__sign {
  overflow: hidden;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-image: url("../img/sign__back.png");
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-color: #d7d6d6;

  #main__sign_block {
    width: 500px;
    min-height: 400px;
    height: 60vh;
    border-radius: 25px;
    background: linear-gradient(-45deg, #d7d6d6, #d7d6d642);
    box-shadow: 10px 10px 10px #a1a1a1, -10px -10px 10px #ffffff;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 500px) {
      width: 400px;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
      padding: 0 1.5rem;
    }

    #main__sign_title {
      h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: rgb(71, 71, 71);
        text-shadow: -1px -1px rgb(255, 255, 255), 1px 1px rgb(27, 27, 27);

        @media screen and (max-width: 500px) {
          font-size: 2.5rem;
        }
      }
      p {
        color: rgb(71, 71, 71);
        text-shadow: -1px -1px rgb(255, 255, 255), 1px 1px rgb(27, 27, 27);
        font-size: 2.7rem;
        margin-bottom: 5rem;
        text-align: center;

        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }
    }
    #main__sign_choose {
      display: flex;
      justify-content: center;
      column-gap: 1rem;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;

      p {
        border-bottom: 3px solid transparent;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #d7d6d6;
        box-shadow: 4px 4px 8px #949494, -4px -4px 8px #ffffff;
        border: 2px solid transparent;
        transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out,
          color 0.2s ease-in-out;

        &.pressed {
          box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;
          border: 2px solid #cdcdcd;

          color: blue;
        }

        &:hover {
          cursor: pointer;
        }

        &.sign__choose_checked {
          box-shadow: inset 4px 4px 8px #aeadad, inset -4px -4px 8px #ffffff;
          border: 2px solid #cdcdcd;

          color: blue;
        }
      }
    }
    #main__sign_login,
    #main__sign_register {
      width: 60%;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;

      @media screen and (max-width: 400px) {
        width: 90%;
      }

      input {
        width: 80%;
        padding: 5px 10px;
        border: 2px solid #cdcdcd;
        background: #cccccc;
        box-shadow: inset 4px 4px 7px #aeadad, inset -4px -4px 7px #ffffff;
        text-align: center;
        font-size: 1.5rem;
        transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out,
          color 0.2s ease-in-out;

        &.red_border {
          border: 2px solid rgb(243, 97, 97);
        }
      }
      #login__send,
      #reg__send {
        width: 40%;
        font-size: 1.4rem;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #d7d6d6;
        box-shadow: 4px 4px 8px #949494, -4px -4px 8px #ffffff;
        border: 2px solid transparent;
        transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out,
          color 0.2s ease-in-out;

        &.pressed {
          box-shadow: inset 4px 4px 8px #aeadad, inset -4px -4px 8px #ffffff;
          border: 2px solid #cdcdcd;

          color: blue;
        }
      }
    }
    #main__sign_register {
      display: none;
      #reg__mail {
      }
      #reg__pass1,
      #reg__pass2 {
      }
      #reg__send {
        // background: rgb(2, 113, 187);
      }
    }
  }
}

//БЛОК TODO
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//-----------------------------------------------------------------

#main {
  user-select: none;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: #d7d6d6;

  #main__todo {
    border-radius: 25px;
    background: #d7d6d6;
    box-shadow: 13px 13px 26px #a1a1a1, -13px -13px 26px #ffffff;
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 15px 0;

    @media screen and (max-width: 600px) {
      width: 450px;
    }
    @media screen and (max-width: 450px) {
      width: 100%;
      margin: 50px auto;
    }

    #main__todo_logout,
    #main__todo_sync {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 3rem;
      height: 3rem;
      z-index: 10;
      background-image: url("../img/logout1.png");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: linear-gradient(145deg, #e6e5e5, #c2c1c1);
      box-shadow: 5px 5px 10px #aeadad, -5px -5px 10px #ffffff;
      border: 2px solid transparent;
      transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
      }

      &.pressed {
        background-color: #cdcdcd;
        box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;
        border: 2px solid #c2c1c1;
      }
    }

    #main__todo_sync {
      left: unset;
      right: 1rem;
      padding: 0.5rem;
      background-image: url("../img/sync1.png");

      &:hover {
        cursor: pointer;
      }
      &.pressed {
        background-image: url("../img/sync1-blue.png");
      }
    }

    #main__todo_title {
      position: relative;
      padding: 10px;
      // text-align: center;
      h2 {
        color: rgb(71, 71, 71);
        text-shadow: -1px -1px rgb(255, 255, 255), 1px 1px rgb(27, 27, 27);
        width: fit-content;
        margin: 0 auto;
        font-size: 2.5rem;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }

        @media screen and (max-width: 450px) {
          font-size: 2rem;
        }
      }
    }
    #calendar__block {
      height: 0;
      overflow: hidden;

      transition: height 0.2s ease-in-out;
      &.shown {
        min-height: 260px;
        height: 270px;
      }

      #calendar {
        margin: 0 auto;
        z-index: 10;
        border-radius: 8px;
        background: #d7d6d6;
        box-shadow: inset 3px 3px 8px #a6a5a5, inset -3px -3px 8px #ffffff;

        .vanilla-calendar-week__day {
          color: rgb(52, 130, 182);
        }
        .vanilla-calendar-day__btn_weekend {
          color: rgb(5, 102, 166);
        }
        .vanilla-calendar-week__day_weekend {
          color: rgb(5, 102, 166);
        }
        .vanilla-calendar-day__btn_selected {
          color: white !important;
          background: rgb(74, 74, 74) !important;
        }
        .vanilla-calendar-day__btn_today {
          color: rgb(0, 0, 0);
          border: 2px solid rgb(255, 255, 255) !important;
        }
        .vanilla-calendar-day__btn {
          background-color: #d7d6d6;
        }
        .vanilla-calendar-months,
        .vanilla-calendar-months__month,
        .vanilla-calendar-years,
        .vanilla-calendar-years__year,
        .vanilla-calendar-years_selecting {
          background-color: #d7d6d6;
          color: rgb(0, 91, 151);
          font-size: 1.1rem;
        }
        .vanilla-calendar-months__month_selected,
        .vanilla-calendar-years__year_selected {
          color: black;
        }
        .vanilla-calendar-day__btn_next,
        .vanilla-calendar-years__year_disabled {
          color: #7f7f7f !important;
        }
      }
    }

    #main__todo_input {
      width: 100%;
      margin-top: 2rem;

      // @media screen and (max-width:600px){
      //   max-width: 100%;
      // }
      div {
        display: flex;
        column-gap: 10px;
        // justify-content: space-between;
        margin: 0 auto;
        width: 80%;

        @media screen and (max-width: 450px) {
          width: 95%;
        }

        #typeToDo {
          width: 100%;
          padding: 5px 10px;
          border: 2px solid #cdcdcd;
          text-align: center;
          font-size: 2rem;
          border-radius: 12px;
          background: #d7d6d6;
          box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;

          @media screen and (max-width: 450px) {
            font-size: 1.3rem;
          }
        }

        #addToDo {
          // width: 100%;

          font-size: 1.5rem;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: #d7d6d6;
          box-shadow: 4px 4px 9px #919191, -4px -4px 9px #ffffff;
          border: 2px solid transparent;
          transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out,
            color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;

          &.pressed {
            box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;
            border: 2px solid #cdcdcd;

            color: blue;
          }

          @media screen and (max-width: 450px) {
            font-size: 1.3rem;
          }
        }
      }
    }

    #main__todo_block {
      height: fit-content;
      flex-grow: 1;
      overflow-y: scroll;
      margin: 15px 0 0;

      &::-webkit-scrollbar {
        width: 0px;
      }

      .todoitem {
        width: 80%;
        font-size: 1.4rem;
        min-height: 50px;
        height: auto;
        user-select: text;
        overflow: hidden;
        position: relative;
        border-radius: 17px;
        background-color: linear-gradient(145deg, #919191, #e6e5e5);
        box-shadow: 3px 3px 10px #7f7f7f, -3px -3px 10px #ffffff;

        padding: 10px 10px;
        margin: 10px auto;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 5;
        transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out;

        @media screen and (max-width: 450px) {
          width: 95%;
        }

        .todoitem__handle {
          width: 1.8rem;
          margin-top: 0.4rem;

          &:hover {
            cursor: grab;
          }
        }

        .todoitem__check_block {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-grow: 1;
          word-break: break-all;
          margin: 0 1rem;

          .todoitem__check {
            opacity: 0.01;

            & + label {
              width: 100%;
              position: relative;
              word-wrap: break-word;

              &:hover {
                cursor: pointer;
              }

              &.checked {
                cursor: pointer;

                &::before {
                  background-color: blue;
                }
              }

              &::before {
                content: "";
                position: absolute;
                left: -3rem;
                top: 0rem;

                width: 0.5rem;
                height: 0.5rem;

                border-radius: 50%;
                background-color: rgb(89, 89, 89);

                transition: background 0.2s ease-in-out,
                  box-shadow 0.3s ease-in-out;
              }
            }
          }
        }

        .todoitem__settings {
          min-width: 2.5rem;
          min-height: 2.5rem;
          z-index: 17;
          background-image: url("../img/settings.png");
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          background-color: transparent;
          border: 2px solid transparent;
          box-shadow: 3px 3px 9px #8f8e8e, -3px -3px 9px #ffffff;
          transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
          }

          &.pressed {
            box-shadow: inset 3px 3px 10px #aeadad, inset -3px -3px 10px #ffffff;
            border: 2px solid #cdcdcd;
            background-color: #d7d6d6;
            background-image: url("../img/settings-blue.png");
          }
        }

        &.done {
          border: 2px solid #cdcdcd;
          background: linear-gradient(145deg, #b9b9b9, #d1d1d1) !important;

          box-shadow: inset 4px 4px 10px #929292, inset -4px -4px 10px #ffffff;
        }

        .setings_panel {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          background: linear-gradient(145deg, transparent, #00000063);

          display: flex;
          justify-content: flex-end;
          column-gap: 5px;
          padding-right: 4.5rem;
          align-items: center;
          z-index: 10;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s cubic-bezier(0.41, -0.51, 0.6, 1.49);

          span {
            &.edit_item {
              width: 2.5rem;
              height: 2.5rem;
              background-image: url("../img/edit.png");
              background-size: 50%;
              background-repeat: no-repeat;
              background-position: center;
              background-color: #d7d6d6;

              margin-left: 5px;
              border: 2px solid transparent;
              border-radius: 50%;
              transform: scale(1) translateY(100px);
              transition: transform 0.3s cubic-bezier(0.41, -0.51, 0.6, 1.49);

              &:hover {
                cursor: pointer;
              }
            }

            &.colorpick {
              width: 1.5rem;
              height: 1.5rem;
              border: 2px solid transparent;
              border-radius: 50%;
              transform: scale(0) translateY(-50px);
              transition: transform 0.2s cubic-bezier(0.41, -0.51, 0.6, 1.49);

              &:hover {
                cursor: pointer;
                border: 2px solid black;
              }
              &.choosen {
                border: 2px solid black;
              }
              &.blue {
                background: rgb(169, 209, 247);
              }
              &.yellow {
                background: rgb(239, 247, 169);
              }
              &.red {
                background: rgb(247, 169, 169);
              }
              &.green {
                background: rgb(169, 247, 169);
              }
              &.pink {
                background: rgb(247, 169, 247);
              }
            }
          }
        }
      }
    }

    #trash__field {
      position: relative;
      overflow: hidden;
      width: 50px;
      min-height: 50px;
      height: 50px;
      padding: 1rem 0;

      border-radius: 10px;

      margin: 2rem auto 0;
      border: 2px solid #cdcdcd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #d7d6d6;
      box-shadow: inset 5px 5px 10px #aeadad, inset -5px -5px 10px #ffffff;
      transition: width 0.3s cubic-bezier(0.46, -0.26, 0.63, 1.25),
        border 0.2s cubic-bezier(0.46, -0.26, 0.63, 1.25);

      &.overit {
        border: 2px solid rgb(243, 97, 97);
        animation: 2s cubic-bezier(0.62, -0.09, 0.41, 1.1) infinite
          trash__breath;
      }
      img {
        width: 20px;
        z-index: 5;
      }

      #trash_list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      #trash_list_remover {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(243, 97, 97);
        z-index: 4;
        transition: left 0.2s ease-in-out;

        &.toggled {
          left: 0;
        }
      }
    }
  }
}

@keyframes trash__breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
