@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Arbor";
  font-display: swap;
  src: url("../fonts/ofont.ru_Arbor.woff") format("woff"), url("../fonts/ofont.ru_Arbor.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bauhaus";
  font-display: swap;
  src: url("../fonts/bauhaus.woff") format("woff"), url("../fonts/bauhaus.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Bauhaus";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  z-index: 15;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading p {
  color: white;
  font-size: 5rem;
}

#edit__overlay {
  z-index: 20;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit__overlay #edit__block {
  width: 300px;
  height: auto;
  background: rgb(241, 241, 241);
  padding: 15px;
  z-index: 22;
}

#edit__overlay #edit__block h3 {
  text-align: center;
  font-size: 2rem;
}

#edit__overlay #edit__block textarea {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
  font-size: 1.5rem;
  margin: 10px 0;
}

#edit__overlay #edit__block button {
  font-size: 1.5rem;
  float: right;
  padding: 5px 10px;
  background: rgb(2, 113, 187);
  color: white;
}

#edit__overlay #edit__blackplate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.321);
}

#main__sign {
  overflow: hidden;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-image: url("../img/sign__back.png");
  background-size: cover;
  background-position: center;
}

#main__sign #main__sign_block {
  width: 500px;
  min-height: 400px;
  height: 60vh;
  background: linear-gradient(45deg, rgb(241, 241, 241), rgba(241, 241, 241, 0.788));
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main__sign #main__sign_block #main__sign_title h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#main__sign #main__sign_block #main__sign_title p {
  font-size: 2.7rem;
  margin-bottom: 5rem;
  text-align: center;
}

#main__sign #main__sign_block #main__sign_choose {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#main__sign #main__sign_block #main__sign_choose p {
  border-bottom: 3px solid transparent;
  transition: border 0.3s ease-in;
}

#main__sign #main__sign_block #main__sign_choose p:hover {
  cursor: pointer;
}

#main__sign #main__sign_block #main__sign_choose p.sign__choose_checked {
  border-bottom: 3px solid rgb(2, 113, 187);
}

#main__sign #main__sign_block #main__sign_login,
#main__sign #main__sign_block #main__sign_register {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

#main__sign #main__sign_block #main__sign_login input,
#main__sign #main__sign_block #main__sign_register input {
  width: 80%;
  padding: 5px 10px;
  border: 2px solid rgb(2, 113, 187);
  text-align: center;
  font-size: 1.1rem;
}

#main__sign #main__sign_block #main__sign_login input.red_border,
#main__sign #main__sign_block #main__sign_register input.red_border {
  border: 2px solid rgb(255, 0, 0);
}

#main__sign #main__sign_block #main__sign_login #login__send,
#main__sign #main__sign_block #main__sign_login #reg__send,
#main__sign #main__sign_block #main__sign_register #login__send,
#main__sign #main__sign_block #main__sign_register #reg__send {
  width: 40%;
  color: white;
  font-size: 1.4rem;
  padding: 5px 10px;
  background: rgb(2, 113, 187);
}

#main__sign #main__sign_block #main__sign_register {
  display: none;
}

#main {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-image: url("../img/back.jpg");
  background-size: contain;
}

#main #main__todo {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 80vh;
  background: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.479);
}

#main #main__todo #main__todo_logout {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  z-index: 10;
}

#main #main__todo #main__todo_logout:hover {
  cursor: pointer;
}

#main #main__todo #main__todo_title {
  position: relative;
  padding: 10px;
}

#main #main__todo #main__todo_title h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.5rem;
  text-decoration: underline;
}

#main #main__todo #main__todo_title h2:hover {
  cursor: pointer;
}

#main #main__todo #calendar__block {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

#main #main__todo #calendar__block.shown {
  min-height: 260px;
  height: 270px;
}

#main #main__todo #calendar__block #calendar {
  margin: 0 auto;
  z-index: 10;
}

#main #main__todo #calendar__block #calendar .vanilla-calendar-day__btn_weekend {
  color: rgb(35, 161, 245);
}

#main #main__todo #calendar__block #calendar .vanilla-calendar-week__day_weekend {
  color: rgb(2, 113, 187);
}

#main #main__todo #calendar__block #calendar .vanilla-calendar-day__btn_selected {
  background: rgb(0, 59, 99);
}

#main #main__todo #main__todo_input {
  width: 100%;
  margin-top: 2rem;
}

#main #main__todo #main__todo_input div {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 0 auto;
  width: 80%;
}

#main #main__todo #main__todo_input div #typeToDo {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid rgb(2, 113, 187);
  text-align: center;
  font-size: 2rem;
}

#main #main__todo #main__todo_input div #addToDo {
  font-size: 1.5rem;
  padding: 5px 10px;
  background: rgb(2, 113, 187);
  color: white;
}

#main #main__todo #main__todo_block {
  height: -moz-fit-content;
  height: fit-content;
  flex-grow: 1;
  overflow-y: scroll;
  margin: 15px 0 0;
}

#main #main__todo #main__todo_block::-webkit-scrollbar {
  width: 0px;
}

#main #main__todo #main__todo_block .todoitem {
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  overflow: hidden;
  position: relative;
  width: 80%;
  font-size: 1.3rem;
  min-height: 50px;
  height: auto;
  padding: 10px 15px;
  margin: 10px auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: background 0.3s ease-in-out, border 0.2s ease-in-out;
  z-index: 5;
}

#main #main__todo #main__todo_block .todoitem .todoitem__handle {
  width: 2rem;
}

#main #main__todo #main__todo_block .todoitem .todoitem__handle:hover {
  cursor: grab;
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block {
  width: 70%;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  flex-grow: 1;
  margin-right: 2.5rem;
  margin-left: 1rem;
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check {
  opacity: 0.01;
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check + label {
  width: 100%;
  position: relative;
  word-wrap: break-word;
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check + label:hover {
  cursor: pointer;
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check + label:hover::before {
  background: rgb(85, 85, 85);
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check + label.checked {
  cursor: pointer;
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check + label.checked::before {
  background: rgb(85, 85, 85);
}

#main #main__todo #main__todo_block .todoitem .todoitem__check_block .todoitem__check + label::before {
  content: "";
  position: absolute;
  left: -2.5rem;
  top: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(212, 212, 212);
  border-radius: 15%;
  transition: background 0.3s ease-in-out;
}

#main #main__todo #main__todo_block .todoitem .todoitem__settings {
  width: 1.7rem;
  z-index: 17;
  transition: transform 0.3s ease-in-out;
}

#main #main__todo #main__todo_block .todoitem .todoitem__settings:hover {
  cursor: pointer;
}

#main #main__todo #main__todo_block .todoitem.done {
  background: rgb(221, 221, 221) !important;
  border: 2px solid rgb(148, 148, 148) !important;
}

#main #main__todo #main__todo_block .todoitem .setings_panel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.185);
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding-right: 4.5rem;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.41, -0.51, 0.6, 1.49);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.edit_item {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5px;
  border: 2px solid transparent;
  transform: scale(1) translateY(100px);
  transition: transform 0.3s cubic-bezier(0.41, -0.51, 0.6, 1.49);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.edit_item:hover {
  cursor: pointer;
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.edit_item img {
  width: 20px;
  height: 20px;
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid transparent;
  transform: scale(0) translateY(-50px);
  transition: transform 0.2s cubic-bezier(0.41, -0.51, 0.6, 1.49);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick:hover {
  cursor: pointer;
  border: 2px solid black;
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick.choosen {
  border: 2px solid black;
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick.blue {
  background: rgb(169, 209, 247);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick.yellow {
  background: rgb(239, 247, 169);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick.red {
  background: rgb(247, 169, 169);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick.green {
  background: rgb(169, 247, 169);
}

#main #main__todo #main__todo_block .todoitem .setings_panel span.colorpick.pink {
  background: rgb(247, 169, 247);
}

#main #main__todo #trash__field {
  position: relative;
  overflow: hidden;
  width: 50px;
  min-height: 50px;
  height: 50px;
  padding: 1rem 0;
  background: rgb(181, 181, 181);
  border-radius: 10px;
  margin: 2rem auto 0;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.3s cubic-bezier(0.46, -0.26, 0.63, 1.25), border 0.2s cubic-bezier(0.46, -0.26, 0.63, 1.25);
}

#main #main__todo #trash__field.overit {
  border: 2px solid rgb(248, 74, 74);
  animation: 2s cubic-bezier(0.62, -0.09, 0.41, 1.1) infinite trash__breath;
}

#main #main__todo #trash__field img {
  width: 25px;
  z-index: 5;
}

#main #main__todo #trash__field #trash_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#main #main__todo #trash__field #trash_list_remover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(243, 97, 97);
  z-index: 4;
  transition: left 0.2s ease-in-out;
}

#main #main__todo #trash__field #trash_list_remover.toggled {
  left: 0;
}

@keyframes trash__breath {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  #main #main__todo {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  #main__sign #main__sign_block {
    width: 400px;
  }

  #main__sign #main__sign_block #main__sign_title h2 {
    font-size: 2.5rem;
  }

  #main__sign #main__sign_block #main__sign_title p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  #main #main__todo {
    width: 100%;
    margin: 50px auto;
  }

  #main #main__todo #main__todo_title h2 {
    font-size: 2rem;
  }

  #main #main__todo #main__todo_input div {
    width: 95%;
  }

  #main #main__todo #main__todo_input div #typeToDo {
    font-size: 1.3rem;
  }

  #main #main__todo #main__todo_input div #addToDo {
    font-size: 1.3rem;
  }

  #main #main__todo #main__todo_block .todoitem {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  #main__sign #main__sign_block {
    width: 100%;
    padding: 0 1.5rem;
  }

  #main__sign #main__sign_block #main__sign_login,
  #main__sign #main__sign_block #main__sign_register {
    width: 90%;
  }
}